/* question 1*/
#mainTopic {
    color: blue;
}

/* question 2*/
* {
    text-align: center;
}

/* question 3*/
h1,
h3,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* question 4*/
.content {
    color: white;
    background-color: cornflowerblue;
}

/* question 5*/
div button {
    background-color: purple;
    color: azure;
}

/* question 6*/
button:hover {
    background-color: yellow;
    color: blue;
}

/* question 7*/
p:nth-of-type(2n+1) {
    color: yellow;
}


/* question 8*/
h1::first-letter {
    color: red;
}

/* question 9*/
button:checked {
    color: darkgreen;
}

/* question 10*/
/* 
001
100
010
011
2>4>3>1
*/