/* universal selector*/
* {
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}

/* element selector*/
h1,
h3 {
    color: #b92b27;
}

/* id selector */
#login {
    background-color: white;
    color: black;
}

#signup {
    background-color: #b92b27;
    color: white;
}

/*class selector */
.follow {
    color: red;
}

/* descendant selector  */
p a {
    color: purple;
    background-color: yellow;
}

/* adjacent sibling combinator */
p+h3 {
    color: blue;
}

.upvote+button {
    background-color: burlywood;
    color: blueviolet;
}

/* child combinator */
div>input {
    background-color: lightpink;
    color: black;
}

/* attribute selector*/
input[ type="text"] {
    color: black;
}

/* pseudo class */
button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: underline;
    color: antiquewhite;
}