.face {
    width: 400px;
    height: 400px;
    background-color: #ffa551;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: black;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;

}

.left {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 60px;
}

.right {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 250px;
    top: 60px;
}