div {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.5);
    transition-duration: 1s;

}

#opacity {
    background-color: #ffa511;
    opacity: 1;

}

div:hover {
    background-color: black;
    border-radius: 50%;
}

/* css transform */
div {
    transform: rotate(45deg);
}