#head {
    height: 400px;
    width: 400px;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 20%;
    align-items: center;

}

#head div {
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 15%;
    text-align: center;
}