#navbar {
    height: 50px;
    width: 900px;
    border-radius: 10px;
    background-color: lightseagreen;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

#navbar div {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
}