.container {
    width: 600px;
    height: 300px;
    background-color: grey;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 10px;*/
    grid-gap: 10px 10px;
}

.item {

    text-align: center;
    border: 2px solid black;
    background-color: yellowgreen;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
}