h1 {
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
    font-family: Avant Verdana, Geneva, Tahoma, sans-serif;
}


p {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;

}

h3 {
    text-align: start;
    text-decoration: overline;
}

h2 {
    text-decoration: line-through;
}