p {
    color: #964B00;
    text-align: center;
    line-height: 30px;

}

h1 {
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: red;
}

h4 {
    text-align: center;
}

a {
    color: rgb(000, 255, 000);
    text-decoration: none;
}

button {
    background-color: white;
    color: blueviolet;
   
}

textarea {
    color: black;
   

span {
    text-decoration: underline;
    
}