body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;

}

.container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: yellowgreen;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;

}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}