/* body {
    margin: 0;
    padding-top: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
     left-right center
}
 

div {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin-top: 20px;
} 
*/
.box {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin-top: 20px;
    background-color: lightgray;
}